
html, body, main {
  height: 100%;
}
body {
  margin: 0;
  background: #da3323;
  /* background: linear-gradient(45deg, #da3323, #8f1f1b); */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
