@import "../../../../fonts/fonts.css";


.item {
    height: 300px;
    width: 300px;
    margin: 100px 20px 20px 20px;
    padding: 10px 10px 10px 20px;
    /* box-shadow: rgba(256, 256, 256, 0.2) -20px 19px 29px 0px; */
    box-shadow: rgba(100, 100, 111, 0.2) -20px 19px 29px 0px;
    border-radius: 12px;
}
.hero {
    width: 100%;
    transform: translate(0, -35%);
}
.hero_icon_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.about {
    margin: 10px 0;
}
.hero_name {
    font-family: 'BalooThambi2-Bold', serif;
    font-size: 26px;
    margin: 0 20% 0 0;
    color: #FFF;
}
.hero_about {
    margin: 0;
    font-family: 'BalooThambi2-Regular', serif;
    font-weight: lighter;
    color: #FFF;
}
.hero_icon {
    height: 332px;
    width: min-content;
}
.read_more {
    margin: 0;
    font-family: 'BankGothic-Medium', serif;
    color: #FFF;
    visibility: collapse;
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
}
.item:hover .read_more {
    visibility: visible;
}
.item:hover .hero_icon_block {
    transform: rotate(10deg) scale(1.1);
}